body {
    background-color: #f8f8f8;
}

.header img {
    background-color: #f8f8f8;
}

.menu {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: firebrick;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.menu li a:hover {
    color: cornflowerblue;
}

.products {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

span {
    font-size: 30px;
    color: red;
    font-style: italic;
    font-weight: bold;
}

.characteristics {
    list-style-image: url(img/a1_marker.png);
    color: darkblue;
    font-size: 18px;
    font-style: oblique;
}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.image {
    outline: 2px solid blue;
    width: 200px;
}

.image:hover {
    outline: 0px;
}

form {
    width: 400px;
}

input {
    width: 100%;
    height: 30px;
    color: cornflowerblue;
    font-size: 16px;
    font-style: italic;
}

.input {
    text-transform: capitalize;
}

input[type="email"]:focus {
    background-color: darkcyan;
    color: rebeccapurple;
}

.button {
    width: 45%;
    color: black;
}

textarea {
    width: 100%;
    color: cornflowerblue;
    font-size: 16px;
    font-style: italic;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table td {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center
}

table tr:nth-child(1) {
    height: 100px;
}